<h1>Portfolio items</h1>

<a href = "new">Create new item</a>
<%= link_to "Create new item", new_portfolio_path %>

<%@portfolio_items.each do |portfolio_item| %>
<p><%= link_to portfolio_item.title,portfolio_path(portfolio_item.id) %></p>
<%= link_to "Edit Item", edit_portfolio_path(portfolio_item.id) %>


<% end %>